@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@300&family=Oswald:wght@200;300;500;600;700&family=Poppins:wght@200;300;700&display=swap');

/* Paleta de colores */
:root {
    --background:   #EBEEF5;
    --secondary:    #353B55;

    --black:        #151515;
    --white:        #ffffff;
    --green:        #008000;   
    /* --green_lighter: */
    --yellow:       #ffa500;
    /* --yellow_lighter:  */
    --red:          #dc143c;
    /* --red_lighter:       */
    /* --purple:    */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
hr {
    background: var(--white);
    opacity: 0.25;
    height: 1px;
    margin: 0 7px;
    border: none;
}
.panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: var(--black);
}
.left_panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 7%;
    height: auto;
    border-radius: 25px;
    margin: 1% 0 1% 1%;
    padding-top: 15px;
    /* background: var(--red); */
    text-align: center;
}
.left_panel_top {
    justify-content: space-around;
}
.left_panel_middle .nav_icons {
    margin: 7px 0;
}
.left_panel_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.main_panel {
    width: 93%;
    height: auto;
    margin: 1%;
    background: var(--background);
    border-radius: 25px;
    padding: 2%;
}

.nav_icons {
    font-size: 25px !important;
    color: var(--white);
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.home_icon {
    background: white;
    color: black;
    border-radius: 20px;
}
.nav_icons:hover {
    /* border-radius: 50px;
    background: #008000; */
    opacity: 0.5;
}
.create {
    color: var(--green);
}
.update {
    color: var(--yellow);
}
.delete {
    color: var(--red);
}